.scoreboard {
  width: 40%;
}

  .header {
    background: #0F9D58;
    color: #fff;
  }

  .list {
    padding: 16px;
    list-style: none;
  }

  .item {
    display: flex;
    justify-content: space-between;
  }

  .topic {
  }
